<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Clientes</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Responsável</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="client in clients">
                            <th>{{ client.name }}</th>
                            <th>{{ client.responsible }}</th>
                            <th>{{ client.email }}</th>
                            <th>{{ client.phone }}</th>
                            <th>
                                <a ng-href="#/clients/{{ client.id }}/edit" class="btn btn-success btn-xs" >
                                    Editar
                                </a>  <a ng-href="#/clients/{{ client.id }}/remove" class="btn btn-danger btn-xs" >
                                    Excluir
                                </a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>